

.heading{
    text-align: center;
    color:rgb(45, 44, 46);
    margin-bottom: 3%;
    margin-top: 3%;
    
}
.notes {
    text-align: justify;
    padding-left: 50px; /* Equal spacing on the left */
    padding-right: 50px; /* Equal spacing on the right */
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't affect the total width */
  }
  
  /* For smaller screens, you can adjust the padding if needed */
  @media (max-width: 768px) {
    .notes {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  