footer {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 3px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: #780680;
  }
  
  footer h5 {
    margin-bottom: 20px;
  }
  
  footer ul {
    padding-left: 0;
    list-style: none;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #780680;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #090909;
  }
  
  footer .fab {
    font-size: 1.5rem;
  }
  
  footer .fab:hover {
    color: #0c0c0c;
  }
  
  .text-center {
    text-align: center;
  }
  

  .logoImg{
    width: 50%;
    margin-left: 13%;
  }
  .symbol{
    font-size: 30px;
  }
  .footericon{
   padding-right: 10px;
  }