.header {
    background-color: white;
    width: 100%;
    padding: 0; /* Remove any default padding */
}

.toggle-wrapper {
    position: absolute;
    right: 15px; /* Adjust right padding as needed */
    top: 15px;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.icons {
    font-weight: bold;
    color: #780680; /* Text inside Offcanvas */
}

.icons:hover {
    color: #0a0a0a; /* Yellow color on hover */
}

.icons-lg {
    font-weight: bold;
    color: #780680; /* Text on larger screens */
}

.icons-lg:hover {
    color: rgb(4, 4, 4); /* Yellow color on hover for large screens */
}

.logo {
    width: 25%;
}

.close {
    justify-content: end;
}



/* Media Query for responsive behavior */
@media (max-width: 991px) {
    .icons-lg {
        display: none; /* Hide inline links on smaller screens */
    }


    .offcanvas-menu {
        right: 0 !important; /* Fix Offcanvas to the right */
        justify-content: end;
    }
}
